@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css");

$site-max-width: 940px !default;

$color-bg: rgb(226, 224, 217) !default;
$color-fg: #222 !default;
$color-accent: #1effa4 !default;

$color-links: #01a8a0 !default;
$color-links-hover: $color-accent !default;

$font-main: sans-serif !default;
$font-weight-main: normal !default;

$color-navlinks: $color-links !default;
$color-navlinks-hover: $color-links-hover !default;


body {
    background-color: $color-bg;
    color: $color-fg;
    font-family: $font-main;
    font-weight: $font-weight-main;
}

.gutta-body {
    max-width: $site-max-width;
    padding:0px;
}

a {
    color: $color-links;
}

a:hover {
    color: $color-accent;
}

.gutta-navbar {
    width: 100%;
    height: 40px;
    background-color: rgba($color-bg,.95);
}

.gutta-navlink {
    color: $color-navlinks;
}

.gutta-navlink:hover {
    color: $color-navlinks-hover;
}